<footer>
  <!-- Link to Header CSS -->
  <link rel="stylesheet" href="css/footer.css" />
  <div class="footer-container">
    <!-- Social Media Links -->
    <div class="social-links">
      <a
        href="https://www.linkedin.com/in/romanthapa8848/"
        target="_blank"
        aria-label="LinkedIn"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://github.com/romanthapa8848"
        target="_blank"
        aria-label="GitHub"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://twitter.com/romanthapa8848"
        target="_blank"
        aria-label="Twitter"
      >
        <i class="fab fa-twitter"></i>
      </a>
    </div>

    <!-- Copyright Section -->
    <p class="copyright">&copy; Roman Thapa</p>
  </div>

  <!-- Link to FontAwesome -->
  <script
    src="https://kit.fontawesome.com/a076d05399.js"
    crossorigin="anonymous"
  ></script>
</footer>
