<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>
  {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
  site.Title }}{{ end }}
</title>
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

  <!-- Link to Header CSS -->
  <link rel="stylesheet" href="/css/header.css" />
  <!-- Link to Header JS -->
  <script src="/js/header.js"></script>
  <!-- Link to Footer CSS -->
  <link rel="stylesheet" href="/css/footer.css" />
  <!-- Link to Baseof CSS -->
  <link rel="stylesheet" href="/css/baseof.css">
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1728488366569054"
  crossorigin="anonymous"
></script>
