{{ define "main" }}
<div class="content-wrapper">
  <!-- Left Column: Newest Posts -->
  <div class="left-column">
    <ul>
      {{ range (sort site.RegularPages "Date" "desc") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>

  <!-- Middle Column: Main Post Content -->
  <div class="middle-column">
    <!-- Post Title -->
    <h1>{{ .Title }}</h1>

    <!-- Author and Date -->
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
    $dateHuman := .Date | time.Format ":date_long" }}
    <div class="date">
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>

    <!-- Post Content -->
    <div class="post-content">{{ .Content }}</div>

    <!-- Social Share Section -->
    <div class="social-share">
      <ul>
        <li>
          <a
            href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | urlquery }}"
            target="_blank"
            class="facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a
            href="https://twitter.com/intent/tweet?url={{ .Permalink | urlquery }}&text={{ .Title | urlquery }}"
            target="_blank"
            class="twitter"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink | urlquery }}"
            target="_blank"
            class="linkedin"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Right Column: Oldest Posts -->
  <div class="right-column">
    <ul>
      {{ range (sort site.RegularPages "Date" "asc") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
